.App {
  text-align: center;
}

.card-img-top {
  width: 200px;
}

.searchInput {
  text-align: center;
  border: 1px solid #9e9e9e;
  padding: 3px;
  margin-top: 2px;
  font-size: 18px;
  font-family: Verdana;
  background: rgb(101, 226, 139);
}
.typeCategory{
  width: 1000px;
}